body {
    background-color: lightgray;
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: red;
    text-shadow: 1px 1px 3px rgba(60, 60, 60, 0.99);
    font-weight: bold;
}

.logo span {
    color: black;
    font-weight: bold;
}
.bt-purple {
    color: #800080;
    font-size: 24px;
    text-decoration: none;
    border: none;
    text-shadow: 1px 1px 3px rgba(60, 60, 60, 0.5);
    font-weight: bold;
}
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #800080;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}
.card-body .alert.alert-success {
    background-color: purple; 
    color:white;
    text-align: center;
    opacity:0.6;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: purple;
    opacity: 0.8;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: purple;
    opacity: 0.8;
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: blue;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: whitesmoke;
}

.btn-signup {
    background-color: purple;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: purple;
}

.link {
    color: purple;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}
.btn-like {
    border: none;
}

.btn-like:hover,
.btn-like:active {
    color: red;
    background: transparent;
    border: none;
}

.text-center button{
    background-color: purple;
}

.btn {
    width: auto;
    max-width: 200px;
    white-space: nowrap;
}