.logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: rgb(240, 236, 236);
    text-shadow: 1px 1px 3px rgba(60, 60, 60, 0.99);
    font-weight: bold;
}

.logo span {
    color: #c06b6b;
    font-weight: bold;
}
.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    display: inline-block; /* Ensure the link takes up only the necessary width */
}
#navbarText:hover{
    color: #f3f6f8;
}

.bt-purple {
    color: #f3f6f8;
    font-size: 24px;
    text-decoration: none;
    border: none;
    text-shadow: 1px 1px 3px rgba(60, 60, 60, 0.5);
    font-weight: bold;
    margin-left: 10px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #5179e1;
}

.main-bg {
    background-color: rgb(255 255 255);
}

.card {
    border: none;
    background-color: transparent;
}
.card-body .alert.alert-success {
    background-color: #5179e1; 
    color:white;
    text-align: center;
    opacity:0.6;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #5179e1;
    opacity: 0.8;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #5179e1;
    opacity: 0.8;
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: blue;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: whitesmoke;
}

.btn-signup {
    background-color: #5179e1;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #5179e1;
}

.link {
    color: #5179e1;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}
.btn-like {
    border: none;
    border-radius: 10px;
    background-color: #f33857;
}

.btn-like:hover,
.btn-like:active {
    color: rgb(190, 15, 15);
    background: transparent;
    border: none;
}

.text-center button{
    background-color: #5179e1;
}

.btn {
    width: auto;
    max-width: 200px;
    white-space: nowrap;
}

.btn :hover {
    color: white;
    border-radius:8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

a {
    color: #dce0e7;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

