{% extends "base.html" %} {% block content %}
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <!-- Added justify-content-center to center content -->
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3">
        {% for post in post_list %}
        <div class="col-md-4 mx-auto">
          <!-- Added mx-auto to center each card. -->
          <div class="card mb-7">
            <div class="card-body">
              <a href="{% url 'post_detail' post.slug %}" class="post-link">
                  <div class="image-container">
                  <h2 class="card-title">{{ post.title }}</h2>   
                  {% if "placeholder" in post.featured_image.url %}
                  <img
                      class="card-img-top"
                      src="https://res.cloudinary.com/dnt7oro5y/image/upload/v1696698283/pexels-pixabay-356056_gv976l.jpg" alt="No Image to show"
                  />
                  {% else %}
                  <img class="card-img-top" src="{{ post.featured_image.url }}" alt="No Image to show" />
                  {% endif %}
                  </div>
              </a>
              <p>{{ post.Content }}</p>
              <p>Author: {{ post.author }}</p>
              <p>{{ post.excerpt }}</p>
              <hr />
              <p class="card-text text-muted h6">
                {{ post.created_on}}
              {% with post.comments.all.count as total_comments %}
              <span>{{ total_comments }} comments</span>
              {% endwith %}
                {{post.number_of_likes }} likes
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  
    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
            >&laquo; PREV</a
          >
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" class="page-link"
            >NEXT &raquo;</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
{% endblock content %}