{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mt-5 mb-5">
    <div class="container mt-5 pt-4">
        <div class="col-md-8 mx-auto card mb-5 mt-3">
            <h2 class="mb-4 text-center">Delete Post</h2>
            <form method="post" class="text-center">
                {% csrf_token %}
                <p class="lead">Are you sure you want to delete the post "{{ post.title }}"?</p>
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}